
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Red Hat Display',  sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 
background: rgb(27,207,223);
background: radial-gradient(circle, rgba(27,207,223,1) 0%, rgba(25,162,174,1) 100%);
}

.container {
  width: 400px;
  height: auto;
  overflow: hidden;
  background: white;
  box-shadow: 3px 5px 15px rgb(25, 168, 181) ;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4.5em;
}

/* LAYOUT */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.left {
 flex-basis: 50%;
 margin-right: 3rem;
}

.right {
flex-basis: 50%;
}

.results {
  background: #e4fefe;
  font-size: 1.8rem;
  flex-basis: 50%;
  color: hsl(224, 23%, 55%);
  text-align: center;
  width: 300px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: column;
  height: 110px;
}
/* ELEMENTS STYLE */

img {
  width: 100%;
}


h1 {
  margin-top: 2rem;
  font-size: 3.4rem;
  text-align: center;

}

.number {
  background: #e4fefe;
  color: #333;
  font-size: 5rem;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.between {
  font-size: 1.3rem;
  color: hsl(224, 23%, 55%);
  text-align: center;
  margin-bottom: 2rem;
}

.again {
  width: 300px;
}

.check {
  width: 130px;
}

.guess {
  background: #e4fefe;
  border-radius: 10px;
  color: hsl(224, 23%, 55%);
  width: 130px;
  text-align: center;
  height: 50px;
  border: 1px solid rgb(202, 214, 247);
  margin-bottom: 10px;
  font-size: 1.8rem;
  
}

.guess:hover {
  background-color:#d4ffff;
}

.btn {
  background-color: #72e2e2;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 2rem;
  font-family: inherit;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #55bebe;

}

.message {
  margin-bottom: 1rem;
}

.label-score {
  margin-bottom: 1rem;
}

/* RESPONSIVE DESIGN */

@media (max-width: 500px) {
  .container {
    width: 320px;
}

h1 {
  font-size: 3rem;
}
}
